<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mine Analytics</title>
        <meta name="description" content="Soluções para Minecraft Servers">
        <meta name="keywords" content="Servidor minecraft, Solução, software, Minecraft server">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Alessandro Mota">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://kit.fontawesome.com/fcc10091e5.js" crossorigin="anonymous"></script>
    </head>
    <body>
    	<header class="header">
    		<!-- Login button -->
    		<a class="btn-login" th:href="@{/login}">Entrar</a>
    		<a class="btn-signup" th:href="@{/register}">Cadastrar</a>
    		<!-- Menu button -->
    		<button class="btn-menu"><i class="fa fa-bars fa-lg"></i></button>
    		<nav class="menu">
    			<a class="btn-close"><i class="fas fa-angle-double-left"></i></a>
    			<ul>
    				<li><a href="/">Início</a></li>
    				<li><a th:href="@{/login}">Entrar</a></li>
    				<li><a href="#">Serviços</a></li>
    				<li><a href="#">Blog</a></li>
    				<li><a href="#">Contato</a></li>
    				<li><a href="#">Quem somos</a></li>
    			</ul>
    		</nav>
    	</header>
    	
    	<div class="banner"> 
    		<div class="title">
    			<h2>Use tecnologias a seu favor!</h2>
    			<h3>Veja seu servidor de Minecraft de outra forma!</h3>
    		</div>
    	</div>
    	
    	<script src="js/jquery-3.6.0.min.js"></script>
    	<script>
    		$(".btn-menu").click(function() {
				$(".menu").show();
			});
			
			$(".btn-close").click(function() {
				$(".menu").hide();
			});
    	</script>
    </body>
</html>